/* * {
    margin: 0px;
    padding: 0px;
    position: relative;
    color:rgb(255, 10, 10)
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 29, 29);
} */

/* .main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 12fr 1fr;
} */

/* .row-one, 
.row-two, 
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
} */

/* .row-two {
    background-color: #3a3a3a;
} */

.row-three {}

/* .container-padding {
    margin: 12px;
    border: 1px dashed #a1a1a1;
} */
