/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    position: relative;
    color:rgb(255, 10, 10)
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.container-padding {
    margin: 12px;
    border: 1px dashed #a1a1a1;
}
.main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 12fr 1fr;
}